name: CD

# Controls when the workflow will run
on:
  # Aciona o fluxo de trabalho ao fazer push ou pull request para a branch master
  # push:
  #   branches: [ "master" ]

  # Permite executar este fluxo de trabalho manualmente na guia Actions
  workflow_dispatch:

jobs:
  deploy_docker_image:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            CI_CD:
              - '**'  # Garantir que qualquer alteração na pasta ci_cd seja monitorada

      - name: Verificar estrutura do repositório após checkout
        run: |
          echo "Estrutura do repositório após checkout"
          ls -la
          ls -la ci_cd  # Verifica se a pasta ci_cd está presente

      - name: Login no Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Verificar estrutura do repositório
        run: ls -la ci_cd/exemplos  # Verificar se o Dockerfile está na pasta ci_cd/exemplos

      - name: Construir e publicar imagem Docker
        uses: docker/build-push-action@v2
        with:
          context: ci_cd  # Define o contexto como a pasta ci_cd
          file: ci_cd/exemplos/Dockerfile  # Caminho para o Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/curso:latest
